.js-mapbox-address-input-location-field {
    display: none;
}
.js-mapbox-address-country-field {
    display: none;
}
.js-mapbox-address-region-field {
    display: none;
}
.js-mapbox-address-district-field {
    display: none;
}
.js-mapbox-address-place-field {
    display: none;
}
.js-mapbox-address-locality-field {
    display: none;
}
.js-mapbox-address-postcode-field {
    display: none;
}
.js-mapbox-address-line-field {
    display: none;
}
